<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_De_Administracion_De_Servicios.Properties.Settings.CADINConnectionString"
            connectionString="Data Source=EDUARDO;Initial Catalog=CADIN;User ID=sas;Password=&quot;mil4KXVxwvI2xzRsM/9jqKMr1I0=&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>